* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #171f38;
}
.background-blobs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
.blob {
  width: 18.75rem;
  height: 18.75rem;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  background-color: #ff6a95;
}
.blob-1 {
  left: 2rem;
  top: 37.563;
  width: 10.308rem;
  height: 9.308rem;
  rotate: -135deg;
}
.blob-2 {
  top: 100px;
}
